<div class="photo-cta"><a href="http://www.joinkwev.com/apply" target="_blank">
  <img src="https://s3.amazonaws.com/vyralmarketing/Scott+Agnew/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="http://www.joinkwev.com/apply">Apply Now   <i class="fa fa-angle-double-right"></i></a></div></a>
</div>


<div class="photo-cta"><a href="/subscribe">
  <img src="https://s3.amazonaws.com/vyralmarketing/Scott+Agnew/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/subscribe">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div></a>
</div>


<div class="photo-cta"><a href="/contact">
  <img src="https://s3.amazonaws.com/vyralmarketing/Scott+Agnew/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/contact">Book a Call   <i class="fa fa-angle-double-right"></i></a></div></a>
</div>


<!-- <div class="photo-cta"><a href="" target="_blank">
  <img src="https://s3.amazonaws.com/vyralmarketing/Scott+Agnew/workshop.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="#">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div></a>
</div> -->
